.content
{
	font-family: 'Open Sans', sans-serif;
	width: 80%;
}
.container 
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 90%;
	background-color: #d3e6f1;
	margin-top: 25px;
	padding-bottom: 10%;
	padding-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}
.text-info
{
	text-align: center;
}
#botao 
{
	width: 100%;
	height: 20%;
	background-color: #4CAF50;
	color: white;
	padding: 1em 0 1em 0;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: inherit;
}
.form-control 
{
	width: 100%;
	padding: 1em 0 1em 0;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
}
.form-group label
{
	top: 0;
	left: 0;
	color: #414140;
	font-size: 1.2rem;
	font-weight: 600;
}
header 
{
	background-color: #14274e;
	height: 6vh;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
	display: flex;
	align-items: center;
	padding-left: 1vw;
}
.alert 
{
	width: 40%;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	background-color: #f44336;
	color: white;
	position: absolute;
	margin-top: -25%;
	text-align: center;
}