.content
{
	font-family: 'Open Sans', sans-serif;
	width: 40%;
}
.container 
{
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
	background-color: #d3e6f1;
	margin-top: 25px;
	padding-bottom: 10%;
	padding-top: 5%;
}
.text-info
{
    text-align: center;   
}
#botao 
{
	width: 80%;
    height: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 0.8em;
    margin: 0.5em 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: inherit;
}
.form-control 
{
	width: 100%;
    padding: 0.7em 1em 0.7em 1em;
    margin: 8px 0;
	border: none;
	border-radius: 3px;
}
.form-group label,
.form-control span
{
	top: 0;
	left: 0;
	color: #414140;
	font-size: 1.2rem;
	font-weight: 600;
}
.radio-inline
{
    text-align: center;
}
.form-control input
{
    margin-left: 10%;
}
header 
{
	background-color: #14274e;
	height: 6vh;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
	display: flex;
	align-items: center;
	padding-left: 1vw;
}
.alert 
{
	width: 40%;
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
	background-color: #f44336;
	color: white;
	position: absolute;
	margin-top: -30%;
	text-align: center;
}