@import 'default.css';

header {
	background-color: #14274e;
	height: 6vh;
	font-family: 'Open Sans', sans-serif;
	color: #ccc;
	display: flex;
	align-items: center;
	padding-left: 1vw;
}
form {
	display: flex;
	position: relative;
	flex: 1;
	margin: 5%;
}

span, label {
	margin: 10px 0;
	font-family: 'Open Sans', sans-serif;
}

input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.container {
	height: 94vh;
	background-color: #fff;
}

.content {
	background-color: #d3e6f1;
	width: 80vw;
	height: 80vh;
	border-radius: 10px;
}

#left-col {
	flex: 3;
}

#right-col {
	flex: 1;
	align-items: flex-end;
	justify-content: flex-end;
}

#insercaoProdutos {
	flex: 1;
	align-items: stretch;
}

#insercaoProdutos input {
	flex: 1;
}

#codigoContainer {
	flex: 1;
	margin: 0 20px 0 0;
}

#listaProdutosContainer {
	flex: 4;
}

#listaProdutos {
	flex: 1;
	background-color: white;
}

#right-col button{
	margin: 10px;
}

#btnAdicionar {
	width: 100%;
	background-color: #2849da;
	color: white;
	padding: 14px 27px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	margin-left: 188%;
    margin-top: 33%;
}

#btnAdicionar:hover {
	background-color: #1d3abd;
}

#btnConcluir {
	/* background-color: var(--sucess-color); */
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#btnConcluir:hover {
	background-color: #45a049;
}

#btnCancelar {
	/* background-color: var(--danger-color); */
	width: 100%;
	background-color: #d21313;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#btnCancelar:hover {
	background-color: #a20a0a;
}