<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body id="login">

	<div class="container">

		<div class="content">

			<form action="formulario">
                <h3 class="text-info">Iniciar Sistema</h3>
                <div class="form-group">
                    <label for="usuario">Usuario:</label>
                    <input type="text" name="usuario" id="usuario" class="form-control">
				</div>
				<div class="form-group">
					<label for="password" class="text-info">Senha:</label>
					<input type="text" name="senha" id="senha" class="form-control">
				</div>
				<div class="form-group">
					<button>Logar</button>
				</div>
			</form>

		</div>

	</div>

</body>
</html>