<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sistema de controle de vendas</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
</head>
<body>
    <header >Sistema de controle de vendas</header>


	<div class="container">

        <div class="alert" role="alert" th:if="${session.erroAtivaSistema}">
            <strong th:text="${session.erroAtivaSistema}"></strong>
        </div>

		<div class="content">
            <h3 class="text-info">Iniciar Sistema</h3>
            
			<form method="POST" action="/ativarSistema">
                <div class="form-group">
                    <label for="usuario">Código:</label>
                    <input type="text" name="codigo" id="codigo" class="form-control">
				</div>
				<div class="form-group">
					<label for="password" class="text-info">Senha:</label>
					<input type="password" name="senha" id="senha" class="form-control">
				</div>
				<div class="form-group text-info">
					<button id="botao" type="submit">Enviar</button>
				</div>
			</form>

            <button  onclick="window.location.href = 'http://localhost:8080/venda.html'">Vai para Venda</button>
		</div>

	</div>

</body>
</html>


