<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Nota Fiscal</title>
  
  <link rel="stylesheet" th:href="@{/css/notaFiscal.css}" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/js/notaFiscal.js"></script>

</head>
<body id="notaFiscal">
  <header>Sistema de controle de vendas - Nota Fiscal</header>
	<div class="container">
		<div class="content">
      <div id="dadosNota">
        <h1>Compra finalizada!</h1>
        <p th:inline="text">Nota Fiscal: [[${venda.notaFiscal.codigo}]] </p>
        <p th:inline="text">Cliente: [[${venda.cliente.nome}]]</p>
        <p th:inline="text">CPF: [[${venda.cliente.cpf}]]</p>
        <p th:inline="text">Forma de pagamento: [[${venda.tipoPagamento.metodo}]]</p>
        <p th:inline="text">Valor da compra: [[${venda.notaFiscal.codigo}]]</p>
      </div>

      <form method="GET" th:action="@{/venda}">
        <button type="submit" id="btnFinalizar">Nova compra</button>
      </form>
    </div>
	</div>

  <script type="text/javascript" src="/js/pagamento.js"></script>
</body>
</html>