<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Pagamento</title>
  
  <link rel="stylesheet" th:href="@{/css/pagamento.css}" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/js/pagamento.js"></script>

</head>
<body id="pagamento">
  <header>Sistema de controle de vendas - Pagamento</header>
	<div class="container">
		<div class="content">
      <div id="dadosPagamento">
        <h1 th:inline="text">Nome do Cliente: [[${session.venda.cliente.nome}]]</h1>
        <h1 th:inline="text"> CPF do cliente: [[${session.venda.cliente.cpf}]]</h1>
        <h1 th:inline="text"> Pontuação: [[${session.venda.cliente.pontos}]]</h1>
        <h1 th:inline="text">Valor total: [[${valorTotal}]]</h1>
        <h1 th:if="${session.venda.cliente.preferencial}" th:inline="text">Pontuação gerada com a compra:[[${pontos}]] </h1>
        
        <hr>
        
        <label for="desconto" th:if="${session.venda.cliente.preferencial}"><input type="checkbox" id="desconto" name="desconto" value="Sim">Utilizar o desconto</label>

        <h1 th:if="${session.venda.cliente.preferencial}">Valor com desconto de pontuação acumulada:</h1>
        
        <hr>

        
      </div>

      <form id="pagamentoForm" th:action="@{/confirmarPagamentoVenda}" method="POST">
        <div id="pagamentoOpcao">
          <label for="pagamento">Forma de pagamento:</label>
          <select id="formaPagamento" name="formaPagamento">
            <option value="dinheiro">Dinheiro</option>
            <option value="debito">Cartão de Débito</option>
            <option value="credito">Cartão de Crédito</option>
          </select>

          <input type="text" id="valor" placeholder="Valor pago">
        </div>

        <h1>Troco: Calcular no front</h1>
        <input type="hidden" name="valorTotal" th:attr="value = ${valorTotal}">
        
      

      <button type="submit" id="btnFinalizar">Finalizar compra</button>
    </form>
	</div>

  <script type="text/javascript" src="/js/pagamento.js"></script>
</body>
</html>