<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Venda</title>
  
  <link rel="stylesheet" th:href="@{/css/venda.css}" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <script type="text/javascript" src="/js/venda.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body id="venda">
  <header>Sistema de controle de vendas</header>
	<div class="container">
		<div class="content">
			<form action="" class="row">
				<div class="col" id="left-col">
					<div id="insercaoProdutos" class="row">

						<div id="codigoContainer" class="col">
							<label for="codigo">Código</label>
							<input type="text" name="codigo" id="codigo">
						</div>

						<div class="col">
							<label for="quant">Quantidade</label>
							<input type="number" name="quant" id="quant">
						</div>

						<div>
              <button type="submit" id="btnAdicionar">Adicionar</button>
						</div>

					</div>
					<div id="listaProdutosContainer" class="col">

						<span>Lista de Produtos</span>
						<div id="listaProdutos">
							<table id="tabela">
								<thead>
									<tr>
										<td>Codigo</td>
										<td>Produto</td>
										<td>Valor</td>
										<td>Ação</td>
									</tr>
								</thead>
								<tbody id="tbody"></tbody>
							</table>
						</div>
					<div>
						<span>Subtotal: R$ </span> <span>0,00</span>
					</div>
				</div>

				<div class="col" id="right-col">

					<div class="col" >
						<button type="reset" id="btnCancelar"> Cancelar </button>
						<button type="submit" id="btnConcluir"> Concluir </button>
					</div>

				</div>
			</form>
	</div>

</body>
</html>